{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'HoD/index.html' %}#}
{##}
{#{% block body %}#}
{#<body>#}
{#<form action="/add_jobdetails_post" method="post" enctype="multipart/form-data" name="form1" id="form1">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td><div align="center">Job File </div></td>#}
{#      <td><input type="file" name="file" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center">Job Description </div></td>#}
{#      <td><input type="text" name="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center">Posted Date </div></td>#}
{#      <td><input type="text" name="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><div align="center">Experience</div></td>#}
{#      <td><input type="text" name="textfield3" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><div align="center">#}
{#        <input type="submit" name="Submit" value="Add" />#}
{#      </div></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'HoD/index.html' %}

{% block body %}
<body>
  <div class="container mt-5">
    <h2 class="text-center">Add Job Details</h2>
    <form action="/add_jobdetails_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td class="text-center">Job File</td>
            <td>
              <input type="file" name="file" class="form-control" accept=".pdf, .doc, .docx, .jpg, .png" required />
            </td>
          </tr>
          <tr>
            <td class="text-center">Job Description</td>
            <td>
              <input type="text" name="textfield" class="form-control" required pattern="[A-Z a-z.]{3,100}" />
            </td>
          </tr>
          <tr>
            <td class="text-center">Posted Date</td>
            <td>
              <input type="date" name="textfield2" class="form-control" required />
            </td>
          </tr>
          <tr>
            <td class="text-center">Experience (in years)</td>
            <td>
              <input type="number" name="textfield3" class="form-control" required min="0" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <input type="submit" name="Submit" value="Add" class="btn btn-success" />
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</body>
{% endblock %}
