{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'Exam Cell/index.html' %}#}
{##}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="">#}
{#  <table width="200" border="1">#}
{##}
{#    <tr>#}
{#      <td><div align="center">Sl.No.</div></td>#}
{#      <td><div align="center">Subject</div></td>#}
{#      <td><div align="center">Date</div></td>#}
{#      <td><div align="center">Time</div></td>#}
{#      <td>&nbsp;</td>#}
{#    </tr>#}
{#      {% for i in data %}#}
{#    <tr>#}
{#      <td>{{ forloop.counter }}</td>#}
{#      <td>{{ i.SUBJECT.subname }}</td>#}
{#      <td>{{ i.date }}</td>#}
{#      <td>{{ i.time }}#}
{#      </td>#}
{#      <td>#}
{##}
{#      <p align="center"><a href="/delete_examdetails/{{ i.id}}">Delete</a></p></td>#}
{#    </tr>#}
{#      {% endfor %}#}
{#    <tr>#}
{#      <td colspan="5"><div align="center"><a href="/add_examdetails">Add New</a></div></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}
{#{% endblock %}#}
{% extends 'Exam Cell/index.html' %}

{% block body %}
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Exam Details</h2>

        <form id="form1" name="form1" method="post" action="">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Sl.No.</th>
                        <th class="text-center">Subject</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>{{ i.SUBJECT.subname }}</td>
                            <td>{{ i.date }}</td>
                            <td>{{ i.time }}</td>
                            <td class="text-center">
                                <a href="/delete_examdetails/{{ i.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this exam detail?');">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <a href="/add_examdetails" class="btn btn-primary">Add New Exam Detail</a>
            </div>
        </form>
    </div>
</body>
{% endblock %}
