{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'admin/index.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/edit_course_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>Course Name </td>#}
{#      <td><label>#}
{#        #}
{#        <div align="left">#}
{#          <input type="text" name="textfield" value="{{ data.coursename }}" />#}
{#        </div>#}
{#      </label></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Department</td>#}
{#        <td><select name="textfield2">#}
{#            {% for i in val %}#}
{#            <option value="{{ i.id }}">{{ i.deptname }}</option>#}
{#            {% endfor %}#}
{#        </select></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Duration</td>#}
{#      <td><input type="text" name="textfield3" value="{{ data.duration}}" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><label>#}
{#        <div align="center">#}
{#          <input type="submit" name="Submit" value="Add" />#}
{#          </div>#}
{#      </label></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{# {% endblock %}#}
{#</html>#}
{% extends 'admin/index.html' %}

{% block body %}
<body>
  <div class="container mt-5">
    <h2>Edit Course</h2>
    <form id="form1" name="form1" method="post" action="/edit_course_post">
      {% csrf_token %}
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <td>Course Name</td>
            <td>
              <input type="text" name="textfield" value="{{ data.coursename }}" class="form-control" />
            </td>
          </tr>
          <tr>
            <td>Department</td>
            <td>
              <select name="department" class="form-control">
                {% for i in val %}
                  <option value="{{ i.id }}">{{ i.deptname }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>
              <input type="text" name="duration" value="{{ data.duration }}" class="form-control" />
            </td>
          </tr>
          <tr>
            <td colspan="2" class="text-center">
              <input type="submit" name="Submit" value="Update Course" class="btn btn-primary" />
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</body>
{% endblock %}
